.SearchBar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: rgb(201, 201, 201);
  width: 70%;
}

.fa-search {
  padding: 6px;
  border-right: 1px solid rgb(94, 94, 94);
  border-radius: 4px 0 0 4px;
}

.searchEvent {
  appearance: none;
  outline: none;
  border: 1px solid white;
  border-radius: 0 4px 4px 0;
  padding: 6px;
  font-size: 14px;
  width: 100%;
}

.searchEvent:focus {
  border: 1px solid black;
  border-left: none;
}

.searchEvent::placeholder {
  color: gray;
}
